<div class="container-fluid">
    <app-carousel></app-carousel>
<div class="container mt-5">
    <div class="row m-2">
      <div class="col-md-6">
        <h2>Company Address</h2>
        <p>123 Street Name</p>
        <p>Malappuram, kerala, 765401</p>
        <p>India</p>
        <p>Email: shameel&#64;gmail.com</p>
        <p>Phone: +1234567890</p>
      </div>
     
      <div class="col-md-6">
        <h2>Contact Us</h2>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group mb-2">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>