<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://static.vecteezy.com/system/resources/previews/003/692/287/non_2x/big-sale-discount-promotion-banner-template-with-blank-product-podium-scene-graphic-free-vector.jpg" class="d-block w-100 carousel-img" alt="..."  data-bs-interval="200">
      </div>
      <div class="carousel-item " data-bs-interval="2000">
        <img src="https://static.vecteezy.com/system/resources/previews/039/436/315/non_2x/promotional-business-flash-sale-design-with-3d-5-5-number-on-podium-and-falling-confetti-on-red-background-may-5-special-offer-illustration-for-coupon-voucher-banner-flyer-poster-or-vector.jpg" class="d-block w-100 carousel-img" alt="..." >
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://static.vecteezy.com/system/resources/previews/039/436/343/non_2x/shopping-day-flash-sale-design-with-3d-6-6-number-and-party-balloon-on-red-background-6-june-special-offer-illustration-for-coupon-voucher-banner-flyer-promotional-poster-invitation-or-vector.jpg" class="d-block w-100 carousel-img" alt="..." data-bs-interval="200">
      </div>
    </div>
  </div>